version: '3'

services:
  web:
    build: .
    ports:
      - "80:80"
    volumes:
      - ./src:/usr/share/nginx/html
      - web_data:/usr/share/nginx/html/data
    restart: always
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80

volumes:
  web_data:
    driver: local